/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Palanquin', sans-serif;
  margin: 0;
  height: 100vh;
  display:flex;
  flex-direction: column;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-container:nth-child(even) .li-todo-list {
  background:  rgba(188, 143, 143, 0.993);
}

.li-cancel {
  font-family: 'Helvetica';
  position: absolute;
  left: 5px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(255, 109, 109);
}

.li-task-done .li-priority {
  background:rgb(184, 255, 112) !important;
}

.li-task-done {
  text-decoration-line: line-through;
  color:grey;
}